/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}
video,audio{
	align:center;
}
video,audio{
	background-color: rgb(255, 255, 255); 
	padding:3px; 
	border-radius:5px;
}
a:link{
	text-decoration:none;
}